.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input.white {
  background-color: white;
}

input.aka {
  background-color: lightpink;
}

input.ok {
  background-color: #ccf9cc;
}

/** 10台 */
input.ju{
    background-color: lightsteelblue;
}

/** 20台 */
input.niju{
    background-color: lavender;
}

/** 30台 */
input.sanju{
    background-color: lemonchiffon;
}

/** 40台 */
input.yonju{
    background-color: lightgreen;
}

/** 50台 */
input.goju{
    /** background-color: forestgreen; **/
    background-color: #6fc74f;
    /** background-color: forestgreen; **/
    /** color: white; **/
}

/** 10台 */
div.ju{
    background-color: lightsteelblue;
}

/** 20台 */
div.niju{
    background-color: lavender;
}

/** 30台 */
div.sanju{
    background-color: lemonchiffon;
}

/** 40台 */
div.yonju{
    background-color: lightgreen;
}
/** 50台 */
div.goju{
    background-color: #6fc74f;
}

/** 10台 */
label.ju{
    background-color: lightsteelblue;
}

/** 20台 */
label.niju{
    background-color: lavender;
}

/** 30台 */
label.sanju{
    background-color: lemonchiffon;
}

/** 40台 */
label.yonju{
    background-color: lightgreen;
}
/** 50台 */
label.goju{
    background-color: #6fc74f;
}

div.flex{
    display: flex;
}
div.submitbutton{
    background: white;
    margin: 1em;
}
div.sleep_sum{
    background: white;
    margin: 1em;
}
div.deep_sleep_sum{
    background: white;
    margin: 1em;
}
div.monthlink{
    margin-bottom: 10px;
}
